{{ define "main" }}

<article
  class="post type-post status-publish format-standard has-post-thumbnail hentry category-art category-editing tag-block tag-editor tag-gutenberg tag-wordpress">
  <header class="entry-header has-text-align-center">
    <div class="entry-header-inner section-inner medium">
      <div class="entry-categories">
        <span class="screen-reader-text">Categories</span>
        <div class="entry-categories-inner">
          {{ range .Params.Categories }}
          <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}" rel="category tag">{{ . | humanize }}</a>
          {{ end }}
        </div>
        <!-- .entry-categories-inner -->
      </div><!-- .entry-categories -->
      <h2 class="entry-title heading-size-1">{{ .Title }}</h2>
      <div class="post-meta-wrapper post-meta-single post-meta-single-top">
        <ul class="post-meta">
          <li class="post-author meta-wrapper">
            <span class="meta-icon">
              <span class="screen-reader-text">Post author</span>
              <svg class="svg-icon" aria-hidden="true" role="img" focusable="false" xmlns="http://www.w3.org/2000/svg"
                width="18" height="20" viewbox="0 0 18 20">
                <path fill=""
                  d="M18,19 C18,19.5522847 17.5522847,20 17,20 C16.4477153,20 16,19.5522847 16,19 L16,17 C16,15.3431458 14.6568542,14 13,14 L5,14 C3.34314575,14 2,15.3431458 2,17 L2,19 C2,19.5522847 1.55228475,20 1,20 C0.44771525,20 0,19.5522847 0,19 L0,17 C0,14.2385763 2.23857625,12 5,12 L13,12 C15.7614237,12 18,14.2385763 18,17 L18,19 Z M9,10 C6.23857625,10 4,7.76142375 4,5 C4,2.23857625 6.23857625,0 9,0 C11.7614237,0 14,2.23857625 14,5 C14,7.76142375 11.7614237,10 9,10 Z M9,8 C10.6568542,8 12,6.65685425 12,5 C12,3.34314575 10.6568542,2 9,2 C7.34314575,2 6,3.34314575 6,5 C6,6.65685425 7.34314575,8 9,8 Z" />
              </svg> </span>
            <span class="meta-text">
              By {{ range .Params.Author }}
              <a href="{{ `author/` | relLangURL }}{{ . | urlize | lower }}">{{ . }}</a>
              {{ end }} </span>
          </li>
          <li class="post-date meta-wrapper">
            <span class="meta-icon">
              <span class="screen-reader-text">Post date</span>
              <svg class="svg-icon" aria-hidden="true" role="img" focusable="false" xmlns="http://www.w3.org/2000/svg"
                width="18" height="19" viewbox="0 0 18 19">
                <path fill=""
                  d="M4.60069444,4.09375 L3.25,4.09375 C2.47334957,4.09375 1.84375,4.72334957 1.84375,5.5 L1.84375,7.26736111 L16.15625,7.26736111 L16.15625,5.5 C16.15625,4.72334957 15.5266504,4.09375 14.75,4.09375 L13.3993056,4.09375 L13.3993056,4.55555556 C13.3993056,5.02154581 13.0215458,5.39930556 12.5555556,5.39930556 C12.0895653,5.39930556 11.7118056,5.02154581 11.7118056,4.55555556 L11.7118056,4.09375 L6.28819444,4.09375 L6.28819444,4.55555556 C6.28819444,5.02154581 5.9104347,5.39930556 5.44444444,5.39930556 C4.97845419,5.39930556 4.60069444,5.02154581 4.60069444,4.55555556 L4.60069444,4.09375 Z M6.28819444,2.40625 L11.7118056,2.40625 L11.7118056,1 C11.7118056,0.534009742 12.0895653,0.15625 12.5555556,0.15625 C13.0215458,0.15625 13.3993056,0.534009742 13.3993056,1 L13.3993056,2.40625 L14.75,2.40625 C16.4586309,2.40625 17.84375,3.79136906 17.84375,5.5 L17.84375,15.875 C17.84375,17.5836309 16.4586309,18.96875 14.75,18.96875 L3.25,18.96875 C1.54136906,18.96875 0.15625,17.5836309 0.15625,15.875 L0.15625,5.5 C0.15625,3.79136906 1.54136906,2.40625 3.25,2.40625 L4.60069444,2.40625 L4.60069444,1 C4.60069444,0.534009742 4.97845419,0.15625 5.44444444,0.15625 C5.9104347,0.15625 6.28819444,0.534009742 6.28819444,1 L6.28819444,2.40625 Z M1.84375,8.95486111 L1.84375,15.875 C1.84375,16.6516504 2.47334957,17.28125 3.25,17.28125 L14.75,17.28125 C15.5266504,17.28125 16.15625,16.6516504 16.15625,15.875 L16.15625,8.95486111 L1.84375,8.95486111 Z" />
              </svg> </span>
            <span class="meta-text">
              {{ .PublishDate.Format "January 02, 2006"}}
            </span>
          </li>
          <li class="post-comment-link meta-wrapper">
            <span class="meta-icon">
              <svg class="svg-icon" aria-hidden="true" role="img" focusable="false" xmlns="http://www.w3.org/2000/svg"
                width="19" height="19" viewbox="0 0 19 19">
                <path
                  d="M9.43016863,13.2235931 C9.58624731,13.094699 9.7823475,13.0241935 9.98476849,13.0241935 L15.0564516,13.0241935 C15.8581553,13.0241935 16.5080645,12.3742843 16.5080645,11.5725806 L16.5080645,3.44354839 C16.5080645,2.64184472 15.8581553,1.99193548 15.0564516,1.99193548 L3.44354839,1.99193548 C2.64184472,1.99193548 1.99193548,2.64184472 1.99193548,3.44354839 L1.99193548,11.5725806 C1.99193548,12.3742843 2.64184472,13.0241935 3.44354839,13.0241935 L5.76612903,13.0241935 C6.24715123,13.0241935 6.63709677,13.4141391 6.63709677,13.8951613 L6.63709677,15.5301903 L9.43016863,13.2235931 Z M3.44354839,14.766129 C1.67980032,14.766129 0.25,13.3363287 0.25,11.5725806 L0.25,3.44354839 C0.25,1.67980032 1.67980032,0.25 3.44354839,0.25 L15.0564516,0.25 C16.8201997,0.25 18.25,1.67980032 18.25,3.44354839 L18.25,11.5725806 C18.25,13.3363287 16.8201997,14.766129 15.0564516,14.766129 L10.2979143,14.766129 L6.32072889,18.0506004 C5.75274472,18.5196577 4.89516129,18.1156602 4.89516129,17.3790323 L4.89516129,14.766129 L3.44354839,14.766129 Z" />
              </svg> </span>
            <span class="meta-text">
              <a href="{{.Permalink}}#comments">Comments<span class="screen-reader-text"> on
                  {{ .Title }}</span></a> </span>
          </li>
        </ul>
      </div><!-- .post-meta-wrapper -->
    </div><!-- .entry-header-inner -->
  </header><!-- .entry-header -->
  {{if .Params.Image }}
  <figure class="featured-media">
    <div class="featured-media-inner section-inner medium">
      <img width="1200" height="769" src="{{ .Params.Image | absURL }}"
        class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="{{.Title }}"
        sizes="(max-width: 1200px) 100vw, 1200px">
    </div><!-- .featured-media-inner -->
  </figure><!-- .featured-media -->
  {{end}}
  <div class="post-inner thin ">
    <div class="entry-content">
      {{ .Content }}
    </div><!-- .entry-content -->
  </div><!-- .post-inner -->

  <div class="section-inner">
    <div class="post-meta-wrapper post-meta-single post-meta-single-bottom">
      <ul class="post-meta">
        <li class="post-tags meta-wrapper">
          <span class="meta-icon">
            <span class="screen-reader-text">Tags</span>
            <svg class="svg-icon" aria-hidden="true" role="img" focusable="false" xmlns="http://www.w3.org/2000/svg"
              width="18" height="18" viewBox="0 0 18 18">
              <path fill=""
                d="M15.4496399,8.42490555 L8.66109799,1.63636364 L1.63636364,1.63636364 L1.63636364,8.66081885 L8.42522727,15.44178 C8.57869221,15.5954158 8.78693789,15.6817418 9.00409091,15.6817418 C9.22124393,15.6817418 9.42948961,15.5954158 9.58327627,15.4414581 L15.4486339,9.57610048 C15.7651495,9.25692435 15.7649133,8.74206554 15.4496399,8.42490555 Z M16.6084423,10.7304545 L10.7406818,16.59822 C10.280287,17.0591273 9.65554997,17.3181054 9.00409091,17.3181054 C8.35263185,17.3181054 7.72789481,17.0591273 7.26815877,16.5988788 L0.239976954,9.57887876 C0.0863319284,9.4254126 0,9.21716044 0,9 L0,0.818181818 C0,0.366312477 0.366312477,0 0.818181818,0 L9,0 C9.21699531,0 9.42510306,0.0862010512 9.57854191,0.239639906 L16.6084423,7.26954545 C17.5601275,8.22691012 17.5601275,9.77308988 16.6084423,10.7304545 Z M5,6 C4.44771525,6 4,5.55228475 4,5 C4,4.44771525 4.44771525,4 5,4 C5.55228475,4 6,4.44771525 6,5 C6,5.55228475 5.55228475,6 5,6 Z">
              </path>
            </svg> </span>
          <span class="meta-text">{{ range $i,$p:= .Params.Tags }}{{if ne $i 0}},{{end}}
            <a href="{{ `tags/` | relLangURL }}{{ . | urlize | lower }}" rel="tag">{{ . | humanize }}</a>
            {{end}} </span>
        </li>
      </ul><!-- .post-meta -->


      {{ if .Site.DisqusShortname }}
      <hr class="styled-separator is-style-wide" aria-hidden="true">
      <!-- comments -->
      <div id="comments">
        {{ template "_internal/disqus.html" . }}
      </div>
      {{ end }}
    </div><!-- .post-meta-wrapper -->
  </div><!-- .section-inner -->
</article>

{{ end }}
