{{ define "main" }}

<article class="page type-page status-publish hentry">
	<header class="entry-header has-text-align-center header-footer-group">
		<div class="entry-header-inner section-inner medium">
			<h1 class="entry-title">{{ .Title }}</h1>
		</div><!-- .entry-header-inner -->
	</header><!-- .entry-header -->

    {{if .Params.Image }}
    <figure class="featured-media">
      <div class="featured-media-inner section-inner medium">
        <img width="1200" height="769" src="{{ .Params.Image | absURL }}"
          class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="{{.Title }}"
          sizes="(max-width: 1200px) 100vw, 1200px">
      </div><!-- .featured-media-inner -->
    </figure><!-- .featured-media -->
    {{end}}

	<div class="post-inner thin">
		<div class="entry-content">
			{{ .Content }}
		</div><!-- .entry-content -->
	</div><!-- .post-inner -->
</article><!-- .post -->

{{ end }}