<head>
    <meta charset="utf-8">
    <title>{{ .Title }}</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="{{ with .Params.Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
    {{ with .Site.Params.author }}
    <meta name="author" content="{{ . }}">{{ end }}
    {{ hugo.Generator }}

    <!-- Main Stylesheet -->
    {{ $wpLibrary := resources.Get "css/wp-library.css" | minify }}
    <link rel="stylesheet" href="{{ $wpLibrary.Permalink }}" media="screen">

    {{ $style := resources.Get "css/style.css" | minify }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" media="screen">

    <!--Favicon-->

    {{- partial "favicon.html" . -}}
    <!-- <link rel="shortcut icon" href="{{ `images/favicon.png` | absURL }}" type="image/x-icon">
    <link rel="icon" href="{{ `images/favicon.png` | absURL }}" type="image/x-icon"> -->

    <script>
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>

    <!-- google analytics -->
    {{ template "_internal/google_analytics.html" . }}
</head>