<header id="site-header" class="header-footer-group" role="banner">
  <div class="header-inner section-inner">
    <div class="header-titles-wrapper">
        {{ range .Site.Menus.cta }}
        <a href="{{ .URL | absURL }}" aria-current="page">
        <button class="toggle search-toggle mobile-search-toggle">
        <span class="toggle-inner">
          <span class="toggle-icon" style="width: 5rem;max-width: 5rem;">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="color:#cd2653" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1z"/>
              </svg> -->
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="16" style="color: #cd2653; width:5rem; max-width:5rem;" class="bi bi-arrow-right-circle-fill" viewBox="0 0 32 16">
                <path d="M2.46875+0C1.10928+0+0+0.895431+0+2L0+14C3.17891e-07+15.1046+1.10928+16+2.46875+16L29.5312+16C30.8907+16+32+15.1046+32+14L32+2C32+0.89543+30.8907+0+29.5312+0L2.46875+0ZM16.1562+4.65625C16.3518+4.46069+16.6483+4.46063+16.8438+4.65625L19.8438+7.65625C19.9378+7.75005+20+7.86717+20+8C20+8.13283+19.9378+8.24994+19.8438+8.34375L18.0938+10.125L16.8438+11.3438C16.6482+11.5391+16.3517+11.5392+16.1562+11.3438C15.9608+11.1483+15.9609+10.8518+16.1562+10.6562L18.0938+8.71875L18.2812+8.5L17+8.5L12.5+8.5C12.2239+8.5+12+8.27614+12+8C12+7.72386+12.2239+7.5+12.5+7.5L18.2812+7.5L16.1562+5.34375C15.9606+5.14826+15.9607+4.85181+16.1562+4.65625Z"></path>
              </svg>
            
            </span>
          <span class="toggle-text">{{ .Name }}</span>
        </span>
        </a>
        </button>
        {{ end }}
      <!-- .search-toggle -->
      <div class="header-titles">
        <div class="site-title faux-heading"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></div>
      </div><!-- .header-titles -->

      <button class="toggle nav-toggle mobile-nav-toggle" data-toggle-target=".menu-modal"
        data-toggle-body-class="showing-menu-modal" aria-expanded="false" data-set-focus=".close-nav-toggle">
        <span class="toggle-inner">
          <span class="toggle-icon">
            <svg class="svg-icon" aria-hidden="true" role="img" focusable="false" xmlns="http://www.w3.org/2000/svg"
              width="26" height="7" viewbox="0 0 26 7">
              <path fill-rule="evenodd"
                d="M332.5,45 C330.567003,45 329,43.4329966 329,41.5 C329,39.5670034 330.567003,38 332.5,38 C334.432997,38 336,39.5670034 336,41.5 C336,43.4329966 334.432997,45 332.5,45 Z M342,45 C340.067003,45 338.5,43.4329966 338.5,41.5 C338.5,39.5670034 340.067003,38 342,38 C343.932997,38 345.5,39.5670034 345.5,41.5 C345.5,43.4329966 343.932997,45 342,45 Z M351.5,45 C349.567003,45 348,43.4329966 348,41.5 C348,39.5670034 349.567003,38 351.5,38 C353.432997,38 355,39.5670034 355,41.5 C355,43.4329966 353.432997,45 351.5,45 Z"
                transform="translate(-329 -38)" /></svg> </span>
          <span class="toggle-text">Menu</span>
        </span>
      </button><!-- .nav-toggle -->

    </div><!-- .header-titles-wrapper -->

    <div class="header-navigation-wrapper">
      <nav class="primary-menu-wrapper" aria-label="Horizontal" role="navigation">
        <ul class="primary-menu reset-list-style">
          {{ range .Site.Menus.desktop }}
          <li class="menu-item"><a href="{{ .URL | absURL }}" aria-current="page">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </nav><!-- .primary-menu-wrapper -->

      <div class="header-toggles hide-no-js">
        <div class="toggle-wrapper nav-toggle-wrapper has-expanded-menu">
          <button class="toggle nav-toggle desktop-nav-toggle" data-toggle-target=".menu-modal"
            data-toggle-body-class="showing-menu-modal" aria-expanded="false" data-set-focus=".close-nav-toggle">
            <span class="toggle-inner">
              <span class="toggle-text">Menu</span>
              <span class="toggle-icon">
                <svg class="svg-icon" aria-hidden="true" role="img" focusable="false" xmlns="http://www.w3.org/2000/svg"
                  width="26" height="7" viewbox="0 0 26 7">
                  <path fill-rule="evenodd"
                    d="M332.5,45 C330.567003,45 329,43.4329966 329,41.5 C329,39.5670034 330.567003,38 332.5,38 C334.432997,38 336,39.5670034 336,41.5 C336,43.4329966 334.432997,45 332.5,45 Z M342,45 C340.067003,45 338.5,43.4329966 338.5,41.5 C338.5,39.5670034 340.067003,38 342,38 C343.932997,38 345.5,39.5670034 345.5,41.5 C345.5,43.4329966 343.932997,45 342,45 Z M351.5,45 C349.567003,45 348,43.4329966 348,41.5 C348,39.5670034 349.567003,38 351.5,38 C353.432997,38 355,39.5670034 355,41.5 C355,43.4329966 353.432997,45 351.5,45 Z"
                    transform="translate(-329 -38)" /></svg> </span>
            </span>
          </button><!-- .nav-toggle -->
        </div><!-- .nav-toggle-wrapper -->

        <div class="toggle-wrapper search-toggle-wrapper">
            {{ range .Site.Menus.cta }}
            <a href="{{ .URL | absURL }}" aria-current="page">
            <button class="toggle search-toggle desktop-search-toggle">
            <span class="toggle-inner">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="16" style="color: #cd2653; width:5rem;max-width:5rem;" class="bi bi-arrow-right-circle-fill" viewBox="0 0 32 16">
                    <path d="M2.46875+0C1.10928+0+0+0.895431+0+2L0+14C3.17891e-07+15.1046+1.10928+16+2.46875+16L29.5312+16C30.8907+16+32+15.1046+32+14L32+2C32+0.89543+30.8907+0+29.5312+0L2.46875+0ZM16.1562+4.65625C16.3518+4.46069+16.6483+4.46063+16.8438+4.65625L19.8438+7.65625C19.9378+7.75005+20+7.86717+20+8C20+8.13283+19.9378+8.24994+19.8438+8.34375L18.0938+10.125L16.8438+11.3438C16.6482+11.5391+16.3517+11.5392+16.1562+11.3438C15.9608+11.1483+15.9609+10.8518+16.1562+10.6562L18.0938+8.71875L18.2812+8.5L17+8.5L12.5+8.5C12.2239+8.5+12+8.27614+12+8C12+7.72386+12.2239+7.5+12.5+7.5L18.2812+7.5L16.1562+5.34375C15.9606+5.14826+15.9607+4.85181+16.1562+4.65625Z"></path>
                  </svg> 
                  <span class="toggle-text">{{ .Name }}</span>
            </span>
          </button>
          </a>
          {{ end }}<!-- .search-toggle -->
        </div>
      </div><!-- .header-toggles -->
    </div><!-- .header-navigation-wrapper -->
  </div><!-- .header-inner -->

</header>


<div class="menu-modal cover-modal header-footer-group" data-modal-target-string=".menu-modal">
  <div class="menu-modal-inner modal-inner">
    <div class="menu-wrapper section-inner">
      <div class="menu-top">
        <button class="toggle close-nav-toggle fill-children-current-color" data-toggle-target=".menu-modal"
          data-toggle-body-class="showing-menu-modal" aria-expanded="false" data-set-focus=".menu-modal">
          <span class="toggle-text">Close Menu</span>
          <svg class="svg-icon" aria-hidden="true" role="img" focusable="false" xmlns="http://www.w3.org/2000/svg"
            width="16" height="16" viewbox="0 0 16 16">
            <polygon fill="" fill-rule="evenodd"
              points="6.852 7.649 .399 1.195 1.445 .149 7.899 6.602 14.352 .149 15.399 1.195 8.945 7.649 15.399 14.102 14.352 15.149 7.899 8.695 1.445 15.149 .399 14.102" />
          </svg> </button><!-- .nav-toggle -->
        <nav class="expanded-menu" aria-label="Expanded" role="navigation">
          <ul class="modal-menu reset-list-style">
            {{ range .Site.Menus.main }}
            <li class="menu-item menu-item-type-custom menu-item-object-custom">
              <div class="ancestor-wrapper"><a href="{{ .URL | absURL }}" aria-current="page">{{ .Name }}</a></div>
            </li>
            {{ end }}
          </ul>
        </nav>
        <nav class="mobile-menu" aria-label="Mobile" role="navigation">
          <ul class="modal-menu reset-list-style">
            {{ range .Site.Menus.main }}
            <li class="menu-item menu-item-type-custom menu-item-object-custom">
              <div class="ancestor-wrapper"><a href="{{ .URL | absURL }}" aria-current="page">{{ .Name }}</a></div>
            </li>
            {{ end }}
          </ul>
        </nav>
      </div><!-- .menu-top -->
      <div class="menu-bottom">
        <nav aria-label="Expanded Social links" role="navigation">
          {{partial "social.html" .}}
        </nav><!-- .social-menu -->
      </div><!-- .menu-bottom -->
    </div><!-- .menu-wrapper -->
  </div><!-- .menu-modal-inner -->
</div>